        body {
          background-color: gray;
          height: 100vh;
          margin: 0;
        }

        .search-container {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 70px;
          background-image: (to right top, #07091d, #121423, #1a1d29, #22252f, #2b2d35, #2c2c33, #2c2c30, #2c2b2e, #232224, #1a191a, #100f10, #000000);
          margin-bottom: 10px;

        }

        .search-bar {
          display: flex;
          align-items: center;
          height: 45px;
          width: 400px;
          border: 1px solid #ccc;
          border-radius: 20px;
          overflow: hidden;
        }

        .search-bar input[type="text"] {
          flex: 1;
          border: none;
          padding: 15px;
          font-size: 16px;
          outline: none;
        }

        .search-bar button {
          background-color: black;
          color: #fff;
          border: none;
          padding: 10px 20px;
          cursor: pointer;
          font-size: 16px;
          border-radius: 0 20px 20px 0;
        }

        #microprocesadores {
          position: relative;
          left: 20px;
          width: 150px;
          height: 150px;
          border-radius: 25% 10%;
          background-image: linear-gradient(to bottom right, #5a5a5a, #000000);
        }

        #image_micro {
          position: absolute;
          top: 20px;
          left: 22px;
        }

        #texto_micro {
          position: absolute;
          top: 120px;
          left: 3px;
          color: black;
        }

        #texto_micro:hover {
          color: white;
        }

        /*seleccion motherboards*/

        #motherboards {
          position: relative;
          top: 30px;
          left: 20px;
          width: 150px;
          height: 150px;
          border-radius: 25% 10%;
          background-color: #85c1e9;
        }

        #image_mother {
          position: absolute;
          top: 30px;
          left: 25px;
        }

        #texto_mother {
          position: absolute;
          top: 120px;
          left: 23px;


          color: black;
        }

        #texto_mother:hover {
          color: white;
        }

        /*seleccion disco*/
        #disco {
          position: relative;
          top: -300px;
          left: 200px;
          width: 150px;
          height: 150px;
          border-radius: 25% 10%;
          background-color: #c7f6d4;
        }

        #image_disco {
          position: absolute;
          top: 30px;
          left: 25px;
        }

        #texto_disco {
          position: absolute;
          top: 120px;
          left: 35px;


          color: black;
        }

        #texto_disco:hover {
          color: white;
        }

        /*seleccion memorias ram*/

        #memoria {
          position: relative;
          top: -280px;
          left: 200px;
          width: 150px;
          height: 150px;
          border-radius: 25% 10%;
          background-color: #ffdca9;
        }

        #image_memoria {
          position: absolute;
          top: 30px;
          left: 25px;
        }

        #texto_memoria {
          position: absolute;
          top: 120px;
          left: 20px;


          color: black;
        }

        #texto_memoria:hover {
          color: white;
        }
        .pokemon-container {
          display: flex;
          flex-wrap: wrap;
      }
      .pokemon-card {
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 16px;
          margin: 8px;
          text-align: center;
          width: 150px;
      }
      .pokemon-card img {
          width: 100px;
          height: 100px;
      }